.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    /* background-attachment: fixed; */
    /* filter: brightness(70%) */
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 200px;
}


.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}

.box-background {
    width: 80%;
    max-width: 600px;
    background: #eee;
    text-align: center;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -40px;
    box-sizing: border-box;
}

.box-title {
    color: black;
    font-size: 20px;
    margin-top: 120px;
    text-align: center;
    padding-top: 30px;
    
}

.box-content {
    color: black;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.flex-item {
    width: 100px;
    color: white;
    margin: 5px;
    background-color: coral;
}

.flex-container {
    display: flex;
    background-color: coral;
    font-size: 30px;
    height: 60px;
    align-items: center;
}

.nav-container {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 10px;
}

.nav-item {
    margin-right: 10px;
}

@media screen and (max-width:1200px) {
    .main-title {
        font-size: 30px;
    }
}

@media screen and (max-width:768px) {
    .main-title {
        font-size: 20px;
    }
}

@media screen and (max-width:5760px) {
    .main-title {
        font-size: 10px;
    }
}
